*.Rcheck
.project
*.html
/tests
*.tar.gz
# comments all js folder, excepted in the package
js
!package/medicalMonitoring/inst/js
*.Rproj
.Rproj.user/
testPackage/lib
*.sas7bdat
patientProfiles
*.pdf
*cache*
MOMP
*.zip
data/
*.Rhistory
documentation
*.md
*.rds
_main.Rmd
*.docx
libs

tests
!/package/medicalMonitoring/tests

package/doc
package/Meta
