*.Rcheck
.project
*.html
*.tar.gz
# comments all js folder, excepted in the package
js
!clinDataReview/inst/js
*.Rproj
.Rproj.user/
testPackage/lib
*.sas7bdat
patientProfiles
!clinDataReview/inst/template/patientProfiles
*.pdf
*cache*
*.zip
data/
*.Rhistory
documentation
*.rds
!clinDataReview/tests/**/*.rds
_main.Rmd
*.docx
libs

tests
!/clinDataReview/tests

doc
Meta

figures_vignette
*.css
!clinDataReview/inst/js/**/*.css
!clinDataReview/inst/css/gitbook.css

report/

# development dir
development/