*.Rcheck
.project
*.html
!package/clinDataReview/tests/files/htmlScraping/3-3-demographics.html
/tests
*.tar.gz
# comments all js folder, excepted in the package
js
!package/clinDataReview/inst/js
*.Rproj
.Rproj.user/
testPackage/lib
*.sas7bdat
patientProfiles
!package/clinDataReview/inst/template/patientProfiles
*.pdf
*cache*
MOMP
*.zip
data/
*.Rhistory
documentation
*.md
!package/clinDataReview/tests/**/*.md
*.rds
!package/clinDataReview/tests/**/*.rds
_main.Rmd
*.docx
libs

tests
!/package/clinDataReview/tests

package/doc
package/Meta

figures_vignette
*.css
!package/clinDataReview/inst/js/**/*.css
!package/clinDataReview/inst/css/gitbook.css

report/CDISC01/comparisonData

report/TOLEDO/dev/*
report/
